


body{
    overflow: hidden;
}
.nav-menu{
    z-index: 9999;
}

.nav-face{
    width: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#close-nav-side{
    display: none;
}
.nav-side .links li{
    width: fit-content;
    cursor: pointer;
}

.bg-white-70{
 background-color: #ffffff9d;
}
.c-pointer{
    cursor: pointer;
}

figcaption{
    transform: translateY(100%);
    transition: all 1s;
    overflow: hidden;
    
}
figure:hover figcaption{
    transform: translateY(0);
}
.meal-desc{
    font-size: 17px;
    line-height: 1.2;
}
@media (max-width: 767px){
    figcaption{
        justify-content: center;
    }
    figcaption h3{
        font-size: 40px;
    }
}

.ingredients-desc{
    height: 50px;
}

#mainDetails li{
    margin-right: 15px;
}

/* loading */

#loading{
    position: fixed;
    inset: 0;
    background-color: #000000f9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}
#loading .loader {
    position: relative;
    border: 50px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    animation: eat 1s linear infinite;
    width: 100px;
    height: 100px;
  }
  #loading .loader::after , #loading .loader::before {
    content: '"="';
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(50%,-50%);
    background: #e2ee07;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0;
    animation: move 2s linear infinite;
  }

  #loading .loader::before {
    animation-delay: 1s;
  }

  @keyframes eat {
    0% , 49% { border-right-color: #fff }
    50% , 100% { border-right-color: #0000 }
  }
  @keyframes move {
    0% { left: 100px ; opacity: 1}
    50% { left: 0px; opacity: 1 }
    52%, 100% { left: -5px; opacity: 0; }
  }